@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Главная</h1>
    <h3> Реализация простого кредитного калькулятора для расчета аннуитетных займов в виде веб-приложения</h3>
    <h3>
        Стек:
        C# ASP.NET Core MVC + Bootstrap + jQuery.
    </h3>   
    <h4>
        Алгоритм расчета аннуитетных займов из:
        <a  href=" http://www.platesh.ru/annuitetnie-plateshi/" class="link-primary">www.platesh.ru</a>
     </h4>
    <h4>
       Кредитный калькулятор для проверки:
        <a href=" https://calculator888.ru/kreditnyy-kalkulyator" class="link-primary">калькулятор</a>

    </h4>

    <hr>

    <h4>
        Реализация калькулятора 
    </h4>
    <h4>
       
        <a href="/CreditCalcMain" class="link-primary">Основное задание</a>
        <a href="/CreditCalcAdditional" class="link-primary">Дополнительное задание</a>



    </h4>
</div>
